// Generals:

// Font:
// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
$standard-font: 'Segoe UI', Verdana, sans-serif;
$poppins-font: 'Poppins';

// Colors (Used interchangeably  if necessary):
$font-color-1: #FFFFFF;
$font-color-2: #fcf3e5;  
$font-color-3: #A6CBE2;

$back-color-1: #AD0E39;
$back-color-2: #4A3163;
$back-color-3: #4a3828;
// $back-color-3: #371010;
// $back-color-3: #A17562;
$back-color-4: #494848;
$back-color-5: #091E22;
$back-color-6: #ffeed2;

// Copyright
#copyright {
    margin-right: 3px;
}

#final {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: $font-color-2;
    margin: 0px;
    zoom: 125%;
    max-zoom: 125%;
}

// Disable horizontal sroll (interfers with 'runRight, runLeft animations'
html {
    max-width: 100%;
    overflow-x: hidden;
}

// Footer and header
footer, header, #logo_container, #quotes_container{
    animation: transitionIn 1.0s ease-in-out;
}

#question_container {
    animation: QuestionReappear 2.7s ease-in-out;
}

#answer {
    animation: AnswerReappear 2.7s ease-in-out;
}

// Footer and header
header, footer {
    font-size: 14px;
    font-family: $standard-font;
    position: fixed;
    width: 100%;
    height: 34px;
    background-color: $back-color-1;
    color: $font-color-1;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    top: 0;
}

footer {
    bottom: 0;
    background-color: $back-color-3;
}

// Quotes
#quotes_container {
    position: fixed;
    width: 100%;
    bottom: 34px;
    background-color: $back-color-6;
    color: $back-color-5;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1.5s ease-in-out;
    font-family: $poppins-font;
}

#quotes_container.colorTransition {
    background-color: $back-color-3;
    color: $back-color-3;
}

// Logo
#logo_container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: $back-color-6;
    text-align: center;
    height: 200px; 
    position: relative;
    top: 33.2px;
    transition: background-color 1.5s ease-in-out;
}

#logo_container.colorTransition {
    background-color: $back-color-1;
}

#logo {
    position: relative;
    bottom: 155px;
    margin: none;
}

// Questions and answers
#answer_container, #question_container {
    display: flex;
    align-items: center;
    position: relative;    
}

#answer_container {
    display: flex;
    justify-content: space-evenly;
    top: 153px;
}

#question_container {
    justify-content: center;
    top: 100px;
}

#answer, #question {
    color: $back-color-5;
    background-color: $back-color-6;
    font-size: 13px;
    font-family: $poppins-font;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer {
    height: 45px;
    width: 130px;
    border: solid $back-color-3;
    border-width: 2.6px;
}

#answer:hover, #another:hover, #restart:hover {
    background-color: $back-color-1;
    color: $font-color-1;
}

#question {
    height: 65px;
    width: 220px;
    border: solid $back-color-3;
    border-width: 2.6px;
}

// Author's comments in response to some answers
#auth_comments {
    color: $font-color-1;
    font-size: 20px;
    position: absolute;
    top: 65px;
    font-family: $poppins-font;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Final render_1
#final_render_1 > * {
    font-family: $poppins-font;
    color: $back-color-5;
    text-align: center;
    position: relative;
    bottom: 60px;
}

#another, #restart {
    background-color: $back-color-6;
    height: 40px; 
    width: 60px;
    color: $back-color-5;
    font-size: 10px;
    font-family: $poppins-font;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px;
    position: relative;
}

#another{
    top: 50px;
}

#restart{
    top: 100px;
}

#rand_final_chocice_description {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
}

#rand_final_choice_img {
    padding-left: 20px;
    margin-right: 30px;
}

#credit {
    padding-top: 20px;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
    text-decoration: underline;
}

// Animations:
// Dissapear/Reappear effects
@keyframes QuestionReappear {
    0% {
        transform: translateY(0%);
        opacity: 0%;
    }
    50% {
        transform: translateY(-88%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes AnswerReappear {
    0% {
        transform: translateY(0%);
        opacity: 0%;
    }
    50% {
        transform: translateY(105%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

// Reload page effect
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(10deg);
    }
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

// 'Run' effects
@keyframes runRight {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(600%);
    }
}

@keyframes runLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-400%);
    }
}

// 'Colorize' effects
@keyframes Question-colorize {
    from {
        background-color: $back-color-6;
        color: $back-color-5;
    }
    to {
        background-color: $back-color-1;
        color: $back-color-1;
        border-color: $back-color-1;
    }
}

@keyframes Answer-colorize {
    from {
        background-color: $back-color-6;
        color: $back-color-5;
    }
    to {
        background-color: $back-color-1;
        border-color: $back-color-1;
        color: $back-color-1;
    }
}

@keyframes LogoContainer_final {
    20% {
        transform: translateY(-120px);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-120px);
    }
    80% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(-120px);
    }
}

@keyframes QuotesContainer_final {
    20% {
        transform: translateY(120px);
    }
    40% {
        transform: translateY(30px);
    }
    60% {
        transform: translateY(120px);
    }
    80% {
        transform: translateY(60px);
    }
    100% {
        transform: translateY(120px);
    }
}

// Media Queries
@media (orientation: portrait) {
    #quotes_container {
        position: absolute;
        bottom: -100px;
    }
}

// Phones
@media (orientation: portrait) and (max-device-width: 414px)
{
    #app {
        top: 200px;
    }

    footer, header {
        font-size: 23px;
    }

    #question_container {
        bottom: 48px;
    }

    #answer_container {
        top: 48px;
        margin-top: 50px;
    }

    #logo_container {
        height: 330px;
    }

    #logo {
        width: 650px;
        height: 650px;
    }

    #auth_comments {
        font-size: 40px;
        padding-top: 38px;
    }

    #question, #answer {
        font-size: 26px;
    }

    #answer {
        width: 250px;
        height: 100px;
    }

    #question {
        width: 370px;
        height: 130px;
    }

    #quotes_container {
        height: 330px;
    }

    #quotes {
        font-size: 30px;
        text-align: center;
    }
}

// Smaller screens 
@media only screen and (max-device-height: 1000px) {
    #app {
        position: relative;
        bottom: 50px;
    }
    #quotes_container {
        position: absolute;
        bottom: -80px;
    }
    #question {
        position: relative;
        top: 45px;
    }
    #quotes {
        position: relative;
        bottom: 15px;
    }
    #answer_container {
        top: 165px;
    }
}
 